:root {
    --bgclr: black;
    --clr: white;
    --divbg: white;
    --divbgclr: rgb(255, 0, 187);
    --divheight: 350px;
    --maxdivheight: 1200px;
    --mainheight: 500px;
    --divwidth: 220px;
    --mainwidth: 1000px;
  }

  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
  }
  .main-container {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    gap: 10px; 
  }
  .box {
    padding: 20px;
    background-color: var(--divbg);
    width: var(--divwidth);
    height: var(--divheight);
    max-height: var(--maxdivheight);
    color: var(--bgclr);
    text-align: center;
    border-radius: 8px; 
  }
  .div2 {
    background-color: var(--divbgclr);
    color: var(--clr);
  }
  img {
    width: 150px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid;
  }
  p {
    padding: 2px;
    padding-left: 10px;
    margin: 0px;
    text-align: left;
  }
  @media (max-width: 890px ) {
    .main-container {
      flex-direction: column; 
      width: 100%; 
    }
  } 